@import "variables";

@font-face {
  font-family: PeaceSans;
  src: url("../fonts/Peace Sans Webfont.ttf"),
  url("../fonts/Peace Sans.otf") format("trytype");
}

@font-face {
  font-family: JetBrains;
  src: url("../fonts/JetBrainsMono-Regular.woff2"),
  url("../fonts/JetBrainsMono-Bold.woff2");
}

body {
  background: $background-color;
  color: $main-color;
  font-family: "JetBrains", serif;
}

.hint {
  color: $hint-color;
  font-weight: bold;
}