@import "../../styles/variables";

.header-box {

  display: flex;
  position: relative;
  padding-bottom: 30px;

  .header-left {

    vertical-align: center;
    display: flex;
    flex-wrap: wrap;

    .header {
      margin-right: 20px;

      .logo-name {
        font-family: "PeaceSans", sans-serif;
        font-size: 150%;
        color: $logo-color;
      }
    }

    .links {
      margin-top: 7px;
      min-width: 250px;

      .link {
        margin-right: 10px;
        margin-top: 10px;
        color: $main-color;
      }
    }
  }
}